
body{
	background-color: green;
}
footer{
	font-family: "Times New Roman", Times, serif;
	font-size:18px;
}

img {
  width: 100%;
  height: auto;
  border-radius:36px;
}
figure {
	width: 100%;
	height: auto;
	border-radius: 36px;
	padding-bottom: 60px;
	padding-left: -12px;
	padding-right: -12px;
	
}
figcaption {
	color: black;
	padding-top:12px;
	padding-bottom:12px;
	text-align:center;
  	font-family:sans-serif;
	font-style: italic;
	font-size: 18px;
	text-indent:0;
}

p {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:48px;
	padding-top:0px;
	padding-bottom:96px;
}

h1{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:124px;
	font-weight:normal;
	padding-bottom:48px;
}

h2{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	padding-bottom: 60px;
}

h3{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 18px;	
}

a {
	color:blue;
	font-size:36px;
	padding-right:36px; 
}

a:hover {
	color:black;
}
a.inline {
	color:blue;
	font-size:48px;
	padding-right:0px;
}

a.inline:hover {
	color:black;
}

.bio {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:48px;
	padding:0px;
	padding-bottom: 60px;
	padding-top: 60px;
}
.container {
	display: flex;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left:12px;
	padding-right:12px;

}
.center {
	width: 1080px;
}
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.footer {
    background: none repeat scroll 0 0 transparent;
    height: 24px;
    margin: auto;
    width: 100%;
}

hr.solid{
	border: 1px solid #000000;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px -12px;

}
.row {
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
	padding-right: 12px;
	padding-left: 12px;
}


  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
	
	body{
		padding: 0px;
}
  
  	.center {
  	width: 100%;
}
	.container {
	display: flex;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left:6px;
	padding-right:6px;
}
	p {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:26px;
	font-weight:lighter;
}
	h2{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
	h1{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:96px;
	font-weight:normal;
}
	h3{
	font-family:sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 18px;	
}

img {
  width: 100%;
  height: auto;
  border-radius:24px;
}

figure {
	width: 100%;
	height: auto;
	border-radius: 16px;
	padding-bottom: 48px;
	padding-left: 6px;
	padding-right: 6px;
}

figcaption {
	color: black;
	padding-top:12px;
	padding-bottom:12px;
	text-align:center;
  	font-family:sans-serif;
	font-style: italic;
	font-size: 16px;
}
a {
	color:blue;
	font-size:24px;
	padding-right:24px; 
}
a.inline {
	color:blue;
	font-size:26px;
	padding-right:0px;
}
.bio {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size:26px;
	padding:0px;
	padding-bottom: 36px;
	padding-top: 36px;
	}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px -6px;
}

.row {
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
	padding-right: 3px;
	padding-left: 3px;
}

.footer {
    background: none repeat scroll 0 0 transparent;
    height: 24px;
    margin: auto;
    width: 100%;
}
